.information{
  padding: 7px 50px;
}
.information a{
  color: rgba(5, 5, 5, 0.788);
  padding: 1% 3%;
}
.information img{
  float: left;
}
.hello{
float: left;
padding: 1% 3%;
text-align: center;

}
.aboutself p{
  text-align: center;
  color: rgb(14, 84, 235);
}
body{
  background-color: #c5f6fa;
  border: 1px solid black;
            padding: 10px;
}
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:350px ;
  padding-right: 450px;

}
.social-media a {
  display: inline-block;
  margin: 0 10px;
}
.social-media img {
  width: 50px;
  height: 50px;
}
.main-img{
  border-radius: 50%;
  width: 350px;
  height: 350px;

}
.navbar {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  justify-content: center;
}
.navbar a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.navbar a:hover {
  background-color: #ddd;
  color: #000;
}

