*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.social-media {
  padding-top:150px ;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media a {
  display: inline-block;
  margin: 0 10px;
}
.social-media img {
  width: 50px;
  height: 50px;
}

.main-img{
  border-radius: 50%;
  width: 350px;
  height: 350px;

}
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  flex-grow: 1;
  margin-right: 20px;
  padding-left: 80px;
  line-height: 1.5;
  font-family: 'Inter', sans-serif;
}

.btn {
  background: #fc3cc9;
  background-image: -webkit-linear-gradient(top, #fc3cc9, #2980b9);
  background-image: -moz-linear-gradient(top, #fc3cc9, #2980b9);
  background-image: -ms-linear-gradient(top, #fc3cc9, #2980b9);
  background-image: -o-linear-gradient(top, #fc3cc9, #2980b9);
  background-image: linear-gradient(to bottom, #fc3cc9, #2980b9);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  text-shadow: 5px 3px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

.btn:hover {
  background: #3cfa95;
  background-image: -webkit-linear-gradient(top, #3cfa95, #3498db);
  background-image: -moz-linear-gradient(top, #3cfa95, #3498db);
  background-image: -ms-linear-gradient(top, #3cfa95, #3498db);
  background-image: -o-linear-gradient(top, #3cfa95, #3498db);
  background-image: linear-gradient(to bottom, #3cfa95, #3498db);
  text-decoration: none;
}
body{
  background-color: #DEE6E9;
}
h2{
  color: #014e96;
  padding-left: 70px;
  padding-top: 50px;
  display: inline-block;
}

.logo-link{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 150px;
}

.navbar {
  display: grid;
  grid-template-columns: repeat(5, 0fr);
  justify-content: center;
}
.navbar a {
  text-align: center;
  text-decoration: none;
  padding: 10px;
}
.navbar a:hover {
  background-color: #ddd;
  color: #000;
}
